.SideMenu {
  /* Burger button and bars */
  .bm-burger-button,
  .bm-burger-bars {
    display: none;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: $sideMenuForegroundColor;
  }

  /* General sidebar styles */
  .bm-menu {
    background: $sideMenuBackgroundColor;
    padding: 40px 0 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: $menuForegroundColor;
    padding: 0;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
