@import './../../base';

.ContactPage {
  @include flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  @include for-screen(small) {
    @include flex-direction(column);
  }

  .Map {
    @include flex-size(1 1 auto);
    margin-top: 10px;
  }

  .contactInfo {
    @include flex-size(1 1 auto);
    min-width: 300px;

    @include for-screen(small) {
      min-width: initial;
    }

    .info {
      @include flex;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(center);

      .box {
        @include light-box-element-style;
        margin: 10px 10px 0;
        padding: 20px;
        width: 250px;
      }
    }
  }
}
