[submodule "web/modules/react-scroll"]
	path = web/modules/react-scroll
	url = https://github.com/markomatic/react-scroll.git
[submodule "web/modules/react-photo-gallery"]
	path = web/modules/react-photo-gallery
	url = https://github.com/markomatic/react-photo-gallery.git
[submodule "web/modules/lazy-image"]
	path = web/modules/lazy-image
	url = https://github.com/markomatic/LazyImage.git
[submodule "web/modules/react-stack-blur"]
	path = web/modules/react-stack-blur
	url = https://github.com/markomatic/react-stack-blur.git
[submodule "web/modules/react-progressive-image"]
	path = web/modules/react-progressive-image
	url = https://github.com/markomatic/react-progressive-image.git
