.ImageLoading {
  position: absolute;

  $base-line-height: 100px;
  $color: white;
  $off-color: rgba($color, 0.2);
  $pulse-duration: 1s;

  @keyframes pulse {
    50% {
      background: $color;
    }
  }

  display: flex;
  justify-content: space-around;
  align-items: center;

  & > div {
    display: block;
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: $off-color;
    animation: pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: ($base-line-height / 1.5);
      width: ($base-line-height / 4);
      background: $off-color;
      top: 50%;
      transform: translateY(-50%);
      animation: pulse $pulse-duration infinite;
    }
    &:before {
      left: -($base-line-height / 2);
    }
    &:after {
      left: ($base-line-height / 2);
      animation-delay: ($pulse-duration / 1.5);
    }
  }
}
