@import './_colors';

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

  background-color: $headerBackgroundColor;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h2 {
  margin-bottom: 8px;
  font-size: 22px;
  color: $foregroundDarkAlternateColor;
}

p {
  font-size: 13px;
  color: $foregroundDarkColor;
  line-height: 22px;
  margin-bottom: 10px;
}

h2 {
  color: $foregroundDarkAlternateColor;
}

p {
  color: $foregroundDarkColor;
}
