/*

Apply css for screen sizes

*/

@mixin for-screen($dimension) {
  @if $dimension == x-small {
    @media all and (max-width: 480px) {
      @content;
    }
  } @else if $dimension == small {
    @media all and (max-width: 640px) {
      @content;
    }
  } @else if $dimension == medium {
    @media all and (max-width: 768px) {
      @content;
    }
  } @else if $dimension == large {
    @media all and (max-width: 1000px) {
      @content;
    }
  }
}

/*

Misc

*/

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin tap-highlight-color($color) {
  -webkit-tap-highlight-color: $color;
}

/*

 flexbox

 */

@mixin flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

@mixin flex-size($size) {
  -webkit-flex: $size; /* Safari 6.1+ */
  -ms-flex: $size; /* IE 10 */
  -moz-flex: $size;
  flex: $size;
}

@mixin flex-grow($size) {
  -webkit-flex-grow: $size; /* Safari 7.0+ */
  flex-grow: $size;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value; /* Safari 6.1+ */
  -moz-justify-content: $value; /* Firefox 27- */
  justify-content: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value; /* Safari 7.0+ */
  align-items: $value;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction; /* Safari 6.1+ */
  -moz-flex-direction: $direction; /* Firefox 27- */
  flex-direction: $direction;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value; /* Safari 6.1+ */
  -moz-flex-wrap: $value;
  flex-wrap: $value;
}
